<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Spotify Data</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Your Top Artists</h1>
        <ul>
            {% for artist in artists %}
            <li>{{ artist['name'] }}</li>
            {% endfor %}
        </ul>

        <h1>Your Top Tracks</h1>
        <ul>
            {% for track in tracks %}
            <li>{{ track['name'] }} by {{ track['artists'][0]['name'] }}</li>
            {% endfor %}
        </ul>

        <h1>Your Top Genres</h1>
        <ul>
            {% for genre in genres %}
            <li>{{ genre }}</li>
            {% endfor %}
        </ul>

        <h2>Total Listening Time: {{ listening_time }} minutes</h2>

        <h1>Recommended Tracks</h1>
        <ul>
            {% for recommendation in recommendations %}
            <li>{{ recommendation['name'] }} by {{ recommendation['artists'][0]['name'] }}</li>
            {% endfor %}
        </ul>

        <!-- Back button to return to time period selection -->
        <a href="{{ url_for('choose_time_range') }}" class="btn back-btn">Back</a>

        <a href="{{ url_for('logout') }}" class="btn logout-btn">Log out</a>
    </div>
</body>
</html>
